{% extends 'index.html.twig' %}




{% block page_content %}


<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-8">
				<h3>Emissão Fiscal por PV</h3>
			</div>
			<div class="col-4 text-right">
				<button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url('fis_emissaofiscalpv_ini') }}'">
					<i class="fas fa-sync" aria-hidden="true"></i> Voltar
				</button>
			</div>
		</div>

	</div>

	<div class="card-body">

		<div class="form-group row">
			<label class="col-form-label col-sm-2 form-control-label">PV</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" readonly="readonly" value="{{ "%06d"|format(venda.pv) }} de {{ venda.dtVenda|date("d/m/Y") }}. Vendedor: {{ venda.vendedor.pessoa.nome }}">
			</div>
		</div>		
		<div class="form-group row">
			<label class="col-form-label col-sm-2 form-control-label">Plano Pagto</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" readonly="readonly" value="{{ venda.planoPagto.descricao }}">
			</div>
			<div class="col-sm-4 text-right">
				<input type="text" class="form-control" readonly="readonly" value="{{ venda.valorTotal|number_format(2,',','.') }}" class="crsr-dec2">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2 form-control-label">Valor</label>
			<div class="col-sm-10">
				
			</div>
		</div>

		<div class="table-responsive-sm">
			<table class="table table-striped table-hover">

				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Reduzido</th>
						<th scope="col">Descrição</th>
						<th scope="col">NCM</th>
						<th scope="col">Qtde</th>
						<th scope="col">Vlr Unit</th>
						<th scope="col">Vlr Total</th>
					</tr>
				</thead>

				<tbody>
					{% for item in venda.itens %}
					<tr>
						<td>{{ item.ordem }}</td>
						<td>{{ item.ncReduzido }}</td>
						<td>{{ item.ncDescricao }}</td>
						<td>{{ item.ncm }}</td>
						<td>{{ item.qtde|number_format(2,',','.') }}</td>
						<td>{{ item.precoVenda|number_format(2,',','.') }}</td>
						<td>{{ item.totalItem|number_format(2,',','.') }}</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>


		{{ include('Fiscal/emissaoFiscalPV/formFiscal.html.twig') }}
		
		{{ include('Fiscal/emissaoFiscalPV/historicos.html.twig') }}
	</div>
</div>





{% endblock %}


{% block down_scripts %}


<script>

	
	$(document).ready(function() {

		$(".TIPO_FISCAL").change(
				function() {
					prepareForm();
				}
			);
					
				
		$(".TIPO_PESSOA").change(
				function() {
					prepareForm();
				}
			);

		function prepareForm() {

			// quando muda de NFE pra NFCE e vice-versa, esconde os campos
			tipoFiscal = $(".TIPO_FISCAL").find(':checked').val();

			if (tipoFiscal == 'NFCE') {
				$(".NFE").parent().parent().css('display', 'none');
			} else {
				$(".NFE").parent().parent().css('display', '');
			}
			
			tipoPessoa = $(".TIPO_PESSOA").find(':checked').val();

			if (tipoPessoa == 'PESSOA_FISICA') {
				$(".PESSOA_FISICA").parent().parent().css('display', '');
				$(".PESSOA_JURIDICA").parent().parent().css('display', 'none');
			} else {
				$(".PESSOA_FISICA").parent().parent().css('display', 'none');
				$(".PESSOA_JURIDICA").parent().parent().css('display', '');
			}

			if ($('input[id*=_pessoa_id]').val() != '') {
				$('.DADOSPESSOA').prop('disabled', true);
			}
		}

		prepareForm();


		$('#pesquisar_cep').click(function(){
			$.ajax({
				url:'http://cep.republicavirtual.com.br/web_cep.php',
				type:'get',
				dataType:'json',
				crossDomain: true,
				data:{
					cep: $('input[id*=_cep]').val(), //pega valor do campo
					formato:'json'
				},
				success: function(res){
					$('input[id*=_logradouro]').val(res.tipo_logradouro + ' ' + res.logradouro);					
					$('input[id*=_cidade]').val(res.cidade);
					$('input[id*=_bairro]').val(res.bairro);
					$('select[id*=_estado]').val(res.uf).change();					
					
				}
			});
		});

		function findPessoaByDocumento(documento) {
			$.ajax({
				url: '{{ url('bse_pessoa_findByNome') }}' + '/' + documento.replace(/[^0-9]/g, ""),
				type:'get',
				dataType:'json',
				success: function(data){
					$('input[id*=_nome]').val(data.nome);					
					$('input[id*=_pessoa_id]').val(data.id);					
					$('input[id*=_razao_social]').val(data.nome);					
					$('input[id*=_nome_fantasia]').val(data.nomeFantasia);					
					$('input[id*=_razao_social]').val(data.razaoSocial);
										
					$('input[id*=_fone1]').val(data.fone1);					
					$('input[id*=_email]').val(data.email);					

					$('input[id*=_cep]').val(data.endereco.cep);					
					$('input[id*=_logradouro]').val(data.endereco.logradouro);					
					$('input[id*=_numero]').val(data.endereco.numero);					
					$('input[id*=_complemento]').val(data.endereco.complemento);					
					$('input[id*=_bairro]').val(data.endereco.bairro);					
					$('input[id*=_cidade]').val(data.endereco.cidade);					
					$('select[id*=_estado]').val(data.endereco.estado).change();

					if (data.id) {
						$('.DADOSPESSOA').prop('disabled', true);
					}					
				}
			});
		} 
		
		$('input[id*=_cpf]').blur(function() {
			findPessoaByDocumento(this.value);
		});
		$('input[id*=_cnpj]').blur(function() {
			findPessoaByDocumento(this.value);
		});
		
		
	});

	
</script>

{% endblock %}