{% extends 'index.html.twig' %}




{% block page_content %}


<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-8">
				<h3>Carta de Correção</h3>
			</div>

		</div>

	</div>

	<div class="card-body">



		{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

		{{ form_start(form) }}
		
		{{ form_row(form._token) }}

		{{ form_row(form._info_status) }}

		<div class="form-group row">
			<label class="col-form-label col-sm-2 form-control-label">Número/Série (UUID)</label>
			<div class="col-sm-2">
                {{ form_widget(form.numero_nf) }}
			</div>
			<div class="col-sm-2">
                {{ form_widget(form.serie) }}
			</div>
			<div class="col-sm-6">
                {{ form_widget(form.uuid) }}
			</div>
		</div>

		{{ form_row(form.carta_correcao) }}



		<div class="row">
			<div class="col text-right">


		{% if permiteCancelamento %}
				<button type="button" value="Enviar" class="btn btn-warning"
					data-form="emissao_fiscal" data-target="#confirmationModal"
					data-toggle="modal">
					<i class="fas fa-ban" aria-hidden="true"></i> Enviar
				</button>
		{% endif %}
		
		{% if permiteReimpressaoCartaCorrecao %}
				<button type="button" value="Reimprimir Carta de Correção" class="btn btn-secondary"
					data-url="{{ url('fis_emissaonfe_reimprimirCartaCorrecao', {notaFiscal: notaFiscal.id}) }}"
					data-target="#confirmationModal" data-toggle="modal">
					<i class="fas fa-envelope-square" aria-hidden="true"></i> Reimprimir Carta de Correção
				</button>
		{% endif %}
				
		</div>


		{{ form_end(form, {'render_rest': false}) }}

	</div>
</div>





{% endblock %}


{% block down_scripts %}


{% endblock %}