{% extends 'index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-8">
                    <h3>Emissão de NFe</h3>
                </div>
            </div>

        </div>

        <div class="card-body">

            <ul class="nav nav-tabs" id="principal" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active NOTAFISCAL_TAB" id="cabecalho-tab" data-toggle="tab" href="#cabecalho" role="tab"
                       aria-controls="home" aria-selected="true">Cabeçalho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link NOTAFISCAL_TAB" id="itens-tab" data-toggle="tab" href="#itens" role="tab"
                       aria-controls="profile" aria-selected="false">Itens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link NOTAFISCAL_TAB" id="transporte-tab" data-toggle="tab" href="#transporte" role="tab"
                       aria-controls="contact" aria-selected="false">Transporte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link NOTAFISCAL_TAB" id="historico-tab" data-toggle="tab" href="#historico" role="tab"
                       aria-controls="contact" aria-selected="false">Histórico</a>
                </li>
            </ul>

            <div class="form-group row">
            </div>

            {{ include('Util/flashes.html.twig') }}

            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

            <div class="tab-content" id="myTabContent">

                {{ include('Fiscal/emissaoNFe/form_cabecalho.html.twig') }}
                {{ include('Fiscal/emissaoNFe/form_itens.html.twig') }}
                {{ include('Fiscal/emissaoNFe/form_transporte.html.twig') }}
                {{ include('Fiscal/emissaoNFe/form_historico.html.twig') }}

            </div>

            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/fis_emissaoNFe_form.js') }}"></script>
{% endblock %}