{% extends 'index.html.twig' %}




{% block page_content %}


<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-8">
				<h3>Carteiras</h3>
			</div>
			<div class="col-4 text-right">
				<button type="button" class="btn btn-primary">
					<i class="fas fa-file" aria-hidden="true"></i> Novo
				</button>
				<button type="button" class="btn btn-secondary" data-target="#pesquisarModal" data-toggle="modal">
					<i class="fas fa-search" aria-hidden="true"></i> Pesquisar
				</button>
				<button type="button" class="btn btn-secondary">
					<i class="fas fa-sync" aria-hidden="true"></i> Recarregar
				</button>
			</div>
		</div>

	</div>

	<div class="card-body">


		{% for flashMessage in app.flashes('success') %}

		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<h4 class="alert-heading">Erro</h4>
			<p>
				{{ flashMessage }}
			</p>
		</div>

		{% endfor %}

		{% for flashMessage in app.flashes('error') %}

		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<h4 class="alert-heading">Erro</h4>
			<p>
				{{ flashMessage }}
			</p>
		</div>

		{% endfor %}

		<div class="table-responsive-sm">
			<table class="table table-striped table-hover">

				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Código</th>
						<th scope="col">Descrição</th>
						<th scope="col">Dt Consolidado</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody>
					{% for item in dados %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ item.codigo }}</td>
						<td>{{ item.descricao }}</td>
						<td>{{ item.dtConsolidado|date('d/m/Y') }}</td>
						<td>
							<button type="button" class="btn btn-lg btn-block btn-danger" data-url="{{ url('carteira_delete', {id: item.id}) }}"
								data-token="{{ csrf_token('delete') }}" data-target="#confirmationModal" data-toggle="modal">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>


<div class="modal fade" id="pesquisarModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Pesquisar</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnCancelarPesquisa" data-dismiss="modal">
                    <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                </button>
                <button type="button" class="btn btn-danger" id="btnPesquisar" data-dismiss="modal">
                    <i class="fa fa-trash" aria-hidden="true"></i> Pesquisar
                </button>
            </div>
        </div>
    </div>
</div>



{% endblock %}



{% block down_scripts %}


<script>
	//Bind click to OK button within popup
	$('#btnYes').on(
			'click',
			function(e) {
				console.log('foi');
				var $modalDiv = $(e.delegateTarget);
				var url = $(this).data('url');
				var token = $(this).data('token');
				var form = $('<form></form>').attr("method", "post").attr(
						"action", url);
				form.append($('<input></input>').attr("type", "hidden").attr(
						"name", "token").attr("value", token));
				$(form).appendTo('body').submit();

			});

	// Bind to modal opening to set necessary data properties to be used to make request
	$('#confirmationModal').on('show.bs.modal', function(e) {
		var data = $(e.relatedTarget).data();
		$('#btnYes', this).data('url', data.url);
		$('#btnYes', this).data('token', data.token);
	});
</script>

{% endblock %}