{% extends 'index.html.twig' %}




{% block page_content %}

<select id="testando">
<option value="234908490328">blabla</option>
</select>

<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-8">
				<h3>Movimentação</h3>
			</div>
			<div class="col-4 text-right">
				<button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url('movimentacao_list') }}'">
					<i class="fas fa-sync" aria-hidden="true"></i> Listar
				</button>
			</div>
		</div>

	</div>

	<div class="card-body">

		{{ include('Util/flashes.html.twig') }}

		{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

		{{ form_start(form) }}
		{{ form_widget(form) }}

		<div class="row">
			<div class="col text-right">
				<button type="submit" class="btn btn-primary btn-lg" value="Salvar">
					<i class="fas fa-save" aria-hidden="true"></i> Salvar
				</button>

				<button type="button" value="Resetar" class="btn btn-secondary" data-url="{{ url('movimentacao_form') }}"
					data-target="#confirmationModal" data-toggle="modal">
					<i class="fas fa-undo" aria-hidden="true"></i> Recarregar
				</button>
			</div>
		</div>


		{{ form_end(form) }}


	</div>
</div>





{% endblock %}


{% block down_scripts %}


<script>
	//Bind click to OK button within popup
	$('#btnYes').on(
			'click',
			function(e) {
				var $modalDiv = $(e.delegateTarget);
				var url = $(this).data('url');
				var form = $('<form></form>').attr("method", "get").attr(
						"action", url);
				$(form).appendTo('body').submit();

			});



	// In your Javascript (external .js resource or <script> tag)
	$(document).ready(function() {

		var data2 = [
		    {
		        id: 0,
		        text: 'enhancement'
		    },
		    {
		        id: 1,
		        text: 'bug'
		    },
		    {
		        id: 2,
		        text: 'duplicate'
		    },
		    {
		        id: 3,
		        text: 'invalid'
		    },
		    {
		        id: 4,
		        text: 'wontfix'
		    }
		];

		$("#testando").select2({
		  data: data2
		});
		
	    $("#movimentacao_pessoa").select2({
	    	  ajax: {
	    	    delay: 250,
	    	    url: function (params) {
					console.log(params);
	    	        return '{{ url('pessoaFindByNome') }}' + '/' + params.term;
	    	    },
	    	    dataType: 'json',
	    	    processResults: function (data, params) {
					var dataNew = $.map(data.results, function (obj) {
						obj.text = obj.nome; // replace name with the property used for the text
						return obj;
					});
    				return { results: dataNew };
				},
	    	    cache: true
	    	  },
	    	  minimumInputLength: 1
	    	});
	});
	
	
	
	
	

</script>

{% endblock %}