<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="nav-icon fas fa-tachometer-alt"></i>Dashboard</a></li>


            <!-- CRM -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-id-card"></i>
                    CRM
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-user"></i>Clientes</a></li>
                    <li class="nav-item" style="background-color: white; height: 1px"></li>
                </ul>
            </li>

            <!-- Financeiro -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-dollar-sign"></i>
                    Financeiro
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">


                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="nav-icon fas fa-chart-line"></i>Dashboard</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-import"></i>Importação</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-invoice-dollar"></i>Pagar/Receber</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-list-ol"></i>Extratos</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-search-dollar"></i>Pesquisar</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-infinity"></i>Recorrentes</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-hand-holding-usd"></i>Caixas</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-clipboard-check"></i>Conferência</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-invoice-dollar"></i>Relatórios</a></li>


                    <li class="nav-title">Cadastros</li>
                    <div style="background-color: brown;">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_carteira_list') }}">
                                <i class="nav-icon fas fa-piggy-bank"></i>Carteiras</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_grupo_list') }}">
                                <i class="nav-icon fas fa-sitemap"></i>Grupos</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_centroCusto_list') }}">
                                <i class="nav-icon fas fa-location-arrow"></i>Centros de Custo</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-exchange-alt"></i>Modos de Movimentação</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_bandeiraCartao_list') }}">
                                <i class="nav-icon fab fa-cc-visa"></i>Bandeiras de Cartões</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_operadoraCartao_list') }}">
                                <i class="nav-icon fas fa-building"></i>Operadora de Cartões</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-stream"></i>Categorias</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_banco_list') }}">
                                <i class="nav-icon fas fa-university"></i>Bancos</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_regraImportacaoLinha_list') }}">
                                <i class="nav-icon fas fa-file-excel"></i>Regras Importação</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_registroConferencia_list') }}">
                                <i class="nav-icon fas fa-check-circle"></i>Registros Conferência</a></li>

                    </div>
                    <li class="nav-item" style="background-color: white; height: 1px"></li>
                </ul>
            </li>

            <!-- Estoque -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-warehouse"></i>
                    Estoque
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-truck"></i>Fornecedores</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-gem"></i>Produtos</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-alt"></i>Relatórios</a></li>




                    <li class="nav-title">Cadastros</li>
                    <div style="background-color: brown;">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-boxes"></i>Deptos/Subdeptos</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-th"></i>Grades</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fab fa-product-hunt"></i>Unidades</a></li>
                    </div>

                    <li class="nav-item" style="background-color: white; height: 1px"></li>
                </ul>
            </li>


            <!-- Orçamentos -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    Orçamentos
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-contract"></i>Novo Orçamento</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-folder-open"></i>Pesquisar</a></li>
                </ul>
            </li>

            <!-- Produção -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-industry"></i>
                    Produção
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-tshirt"></i>Confecções</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-table"></i>Ficha Técnica</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-object-group"></i>Lotes</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-calculator-alt"></i>Atualizar Preços</a></li>


                    <li class="nav-title">Cadastros</li>
                    <div style="background-color: brown;">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-hotel"></i>Instituições</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon far fa-list-alt"></i>Tipos de Artigos</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-tags"></i>Tipos de Insumos</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('fin_modo_list') }}">
                                <i class="nav-icon fas fa-tag"></i>Insumos</a></li>
                    </div>

                    <li class="nav-item" style="background-color: white; height: 1px"></li>
                </ul>
            </li>

            <!-- RH -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-users"></i>
                    RH
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-hand-holding"></i>Cargos</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-people-carry"></i>Funcionários</a></li>
                </ul>
            </li>

            <!-- Vendas -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    Vendas
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-receipt"></i>NFe/NFCe por PV</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-file-invoice"></i>NFe</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-chart-bar"></i>Relatórios</a></li>
                </ul>
            </li>

            <!-- Configurações -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-cogs"></i>
                    Configurações
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon far fa-calendar-alt"></i>Dias Úteis</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-cog"></i>Parâmetros</a></li>

                </ul>
            </li>

            <!-- Segurança -->
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon fas fa-shield-alt"></i>
                    Segurança
                </a>
                <ul class="nav-dropdown-items" style="background-color: black">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-user-shield"></i>Usuários</a></li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('fin_modo_list') }}">
                            <i class="nav-icon fas fa-users-cog"></i>Grupos</a></li>

                </ul>
            </li>

        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>